text-tags {
  display: block;
  position: relative;

  input {
    padding: 10px;
    width: 350px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  .tags {
    position: absolute;
    top: 8px;
    left: 0;
  }

  .tag {
    display: inline-block;
    margin-left: 10px;
  }
}
